@import url('https://fonts.googleapis.com/css2?family=DotGothic16&family=Space+Grotesk:wght@300..700&display=swap');
:root {
  --color-a: #D1D646;
  --color-b: #F97068;
  --color-c: #8AC4FF;
  --color-d: #70C1B3;
  --white: #EDF2EF;
  --black: #212738;
  --font-family: 'Space Grotesk';
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--font-family);
  background-color: var(--white);
  color: var(--black);
}

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.stat-card {
  width: fit-content;
  height: fit-content;
  min-width: 26ch;
  margin: 2rem;
  padding: 2rem;
  padding-bottom: 0;
  color: var(--black);
  box-shadow: 6px 6px 0 var(--black);
  border: 2px solid var(--black);
}

#message-count {
  background-color: var(--color-a);
}

#most-common-words {
  background-color: var(--color-b);
}

#most-pinged-users {
  background-color: var(--color-c);
}

#most-active-days {
  background-color: var(--color-d);
}

#avg-msgs-per-hour {
  padding-block: 2rem;
}

#most-common-emojis {
  background-color: var(--color-c);
  min-width: 22ch!important;
}

#most-common-emojis > ol > li > strong {
  text-shadow: 2px 2px 0 var(--black);
}

#avg-words-per-msg {
  background-color: var(--color-b);
}

#avg-words-per-msg > h2 {
  font-size: 1.3rem;
}

#total-words-per-user {
  background-color: var(--color-a);
}

h2 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
  text-align: center;
  font-family: 'DotGothic16', monospace;
}

ol, ul {
  list-style-position: inside;
  padding: 0;
  width: 100%;
  font-size: 1.2rem;
}

li {
  margin: 0.5rem 0;
  padding: 0.5rem 0;
}

li > span {
  font-weight: 500;
  float: right;
}